@import "../../../../variables";

.label{
  margin: 0 0 10px 5px;
  text-decoration: underline;
  display: block;
  text-underline-position: under;
  font-size: $font-size-20;
}

select{
  width: 300px;
  height: 50px;
  border-radius: $border-radius-10;
   // A reset of styles, including removing the default dropdown arrow
   appearance: none;
   // Additional resets for further consistency
   border: none;
   padding: 0 0 0 20px;
   margin: 0 0 30px 0;
   width: 100%;
   font-family: inherit;
   font-size: inherit;
   cursor: inherit;
   line-height: inherit;
   outline: none;
}
.select{
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  display: grid;
  grid-template-areas: "select";
}
.select:after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}
select::-ms-expand {
  display: none;
}
