<section class="about">
<div>
  <h1 class="about__title">About Us</h1>
  <p>Born from innovation in 2001, Movie System was created to elevate the movie-watching experience at home. Our founders have a passion and deep respect for movies, and for watching them the way they were intended—in a dark room, with immersive sound, and a screen large enough to transport you into the filmmaker’s story.
    To bring that cinematic experience home, over the past twenty years our founders have poured a wealth of technical expertise into a product robust enough to digitally trigger the cues normally carried out by a projectionist. The dimming of the lights, the automated screen masking, the roar of the sound, and the flickering of the motion picture—all replicating the magic of a movie theater experience, right in your own home.
    Today, Movie System remains as elegant and unmatched as it was nearly two decades ago. We’ve gone from disc to digital, we have movies from over 50 studios—including all of the Hollywood majors—we have the best 4K source files available online, our audio is second to none, and our user experience is unparalleled. No other service does what we do. There’s simply no better way to enjoy movies.
    Headquartered in Mountain View, California, Movie System sells its products exclusively through custom integrators. Research and development is led by an elite team of engineers at Movie System Canada, based in Waterloo, Ontario.</p>
</div>
</section>
