@import "../../../variables";

.footer {
  font-size: $font-size-16;
  background-color: $default-button-color;
  padding: $default-padding;
  color: #ffffff;
  display:  flex;
  align-items: center;
  width: 100%;

  &__wrapper {
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  &__left{
    list-style: none;
    text-decoration: none;
  }

  &__logo {
    margin-left: 40px;
    width: 159px;
    height: 75px;
  }

  &__link {
    color: white;
    text-decoration: none;
    &:hover {
      color: white;
    }
  }
}
