<section class="footer">
  <div class="footer__wrapper">
  <ul class="footer__left">
    <li><a>About Us</a></li>
    <li><a>FAQ</a></li>
    <li><a>Movies</a></li>
    <li><a>Terms and Conditions</a></li>
    <li><a>Cookies</a></li>
  </ul>
  <img class="footer__logo" src="../../../assets/logo2.svg" alt="Footer movie logo" />
  <ul class="footer__left">
    <li><a>Home</a></li>
    <li><a>Movies</a></li>
    <li><a>Reviewed Movies</a></li>
    <li><a>Profile</a></li>
    <li><a>Search</a></li>
  </ul>
  </div>
</section>
