<section class="footer">
  <div class="footer__wrapper">
  <ul class="footer__left">
    <li><a class="footer__link" routerLink="">Home</a></li>
    <li><a class="footer__link" routerLink="movies">Movies</a></li>
    <li><a class="footer__link" routerLink="terms">Terms of use</a></li>
    <li><a class="footer__link" routerLink="about">About Us</a></li>
  </ul>
  <img class="footer__logo" src="../../../assets/logo2.svg" alt="Footer movie logo" />
  <ul class="footer__left">
    <li><a class="footer__link" routerLink="">Home</a></li>
    <li><a class="footer__link" routerLink="movies">Movies</a></li>
    <li><a class="footer__link" routerLink="terms">Terms of use</a></li>
    <li><a class="footer__link" routerLink="about">About Us</a></li>
  </ul>
  </div>
</section>
