<div class="select-wrapper">
  <label class="label" for="genre">Filter by genre</label>
  <select id="genre" class="select classic" defaultValue="" (change) = "onChange($event)">
    <option disabled hidden selected value="">Filter by genre</option>
    <option value="action">Action</option>
    <option value="comedy">Comedy</option>
    <option value="animations">Animations</option>
    <option value="drama">Drama</option>
    <option value="fantasy">Fantasy</option>
    <option value="horror">Horror</option>
    <option value="science fiction">Science fiction</option>
    <option value="western">Western</option>
    <option value="all genres">All genres</option>
  </select>
</div>
