@import "../../../variables";

.card {
  width: 250px;
  background-color: $background-wrapper;
  font-size: $font-size-20;
  color: $default-font-color;

  &__title {
    font-size: $font-size-20;
    text-align: center;
    margin: 0 auto 5px;
  }
  &__image {
    width: 250px;
    height: 300px;
    object-fit: cover;
  }
  &__year {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-color: $default-font-color;
    color: $default-button-color;
    padding: 0 10px;
  }
  &__wrapper {
    position: relative;
     margin-bottom: 10px;
  }
  &__btn-wrapper {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
  }
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.6);
}

.none {
  display: none;
}
