  <section class="list">
  <mat-tab-group dynamicHeight (selectedTabChange)="onTabChanged($event)">
    <mat-tab label="Friends">
      <h1 class="tab__title">Friends</h1>
      <input class="input" placeholder="Search user by username" (keyup)="filterFriends($event)" #friendInput />
      <mat-list role="list" #friends}>
        <a *ngFor="let friend of filteredFriends" [routerLink] = "navigationUrl" (click)="routeToUserProfile(friend)" id={{friend._id}}
          name={{friend.username}}>
          <mat-list-item class="list__item row" role="listitem" id={{friend._id}}
          name={{friend.username}}>
            <div class="col-3 px-2">
              <img class="list__image" [src]="friend.image ? friend.image : '../../assets/icons/profile-icon-png-898.png'" alt="user image" />
              <span>{{friend.username}}</span>
            </div>
            <div class="col-6">
              <span>Collections</span>
            </div>
            <div class="list__buttons col-3 justify-content-end">
              <button (click)="routeToUserProfile(friend, $event)" class="btn" mat-icon color="accent"
                aria-label="Example icon button with a bookmark icon">
                See more
              </button>
              <button (click)="removeFriend(friend,$event)" class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>close icon</mat-icon>
              </button>
              <button class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>chat bubble outline icon</mat-icon>
              </button>
              <button  *ngIf="role === 'admin'" class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </a>
      </mat-list>
      <h3 class="not-found" *ngIf="notFoundFriend">Sorry, you don't have friend with this username</h3>
    </mat-tab>
    <mat-tab label="Find new friends">
      <h1 class="tab__title">Users</h1>
      <input class="input" placeholder="Search user by username" (keyup)="filterUsers($event)" #userInput />
      <mat-list role="list" #users>
        <a *ngFor="let user of filteredUser" [routerLink] = "navigationUrl" (click)="routeToUserProfile(user)" id={{user._id}}
          name={{user._id}}>
          <mat-list-item class="list__item row" role="listitem">
            <div class="col-3 px-2">
              <img class="list__image" [src]="user.image ? user.image : '../../assets/icons/profile-icon-png-898.png'" alt="user image" />
              <span>{{user.username}}</span>
            </div>
            <div class="col-6">
              <span>Collections</span>
            </div>
            <div class="list__buttons col-3 justify-content-end">
              <button (click)="routeToUserProfile(user, $event)" class="btn" mat-icon color="accent"
                aria-label="Example icon button with a bookmark icon">
                See more
              </button>
              <button *ngIf="isFriend(user) === false" (click) = "addFriend(user,$event)" class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>add</mat-icon>
              </button>
              <button *ngIf="isFriend(user) === true" (click) = "removeFriend(user,$event)" class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>close</mat-icon>
              </button>
              <button type="button" *ngIf="role === 'admin'" class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon" (click)="removeUser(user, $event)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </a>
      </mat-list>
      <p *ngIf="showAddAlert" class="alert col-10 text-center my-2 mx-auto">
        <ngb-alert type="success">
          <strong>Warning!</strong> Added successfully
        </ngb-alert>
      </p>
      <h3 class="not-found" *ngIf="notFoundUser">Sorry, it doesn't have user with this username</h3>
    </mat-tab>
  </mat-tab-group>
</section>
