  <section class="list">
  <mat-tab-group>
    <mat-tab label="Friends">
      <h1 class="tab__title">Friends</h1>
      <input class="input" type="search" placeholder="Search user by username" (keyup)="filterFriends($event)" />
      <mat-list role="list" #friends>
        <a *ngFor="let friend of friends" (click)="routeToUserProfile($event)" id={{friend._id}}
          name={{friend.username}}>
          <mat-list-item class="list__item row" role="listitem">
            <div class="col-3 px-2">
              <img class="list__image" src="https://i.ytimg.com/vi/8WXp6UutPgE/maxresdefault.jpg" alt="user image" />
              <span>{{friend.username}}</span>
            </div>
            <div class="col-6">
              <span>Collections</span>
            </div>
            <div class="list__buttons col-3 justify-content-end">
              <button (click)="routeToUserProfile($event)" class="btn" mat-icon color="accent"
                aria-label="Example icon button with a bookmark icon">
                See more
              </button>
              <button class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>add</mat-icon>
              </button>
              <button class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </a>
      </mat-list>
    </mat-tab>
    <mat-tab label="Find new friends">
      <h1 class="tab__title">Users</h1>
      <input class="input" type="search" placeholder="Search user by username" (keyup)="filterUsers($event)" />
      <mat-list role="list" #users>
        <a *ngFor="let user of filteredUser" (click)="routeToUserProfile($event)" id={{user._id}}
          name={{user.username}}>
          <mat-list-item class="list__item row" role="listitem">
            <div class="col-3 px-2">
              <img class="list__image" src="https://i.ytimg.com/vi/8WXp6UutPgE/maxresdefault.jpg" alt="user image" />
              <span>{{user.username}}</span>
            </div>
            <div class="col-6">
              <span>Collections</span>
            </div>
            <div class="list__buttons col-3 justify-content-end">
              <button (click)="routeToUserProfile($event)" class="btn" mat-icon color="accent"
                aria-label="Example icon button with a bookmark icon">
                See more
              </button>
              <button class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>add</mat-icon>
              </button>
              <button class="btn" mat-icon color="accent" aria-label="Example icon button with a bookmark icon">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-list-item>
        </a>
      </mat-list>
    </mat-tab>
  </mat-tab-group>
</section>
