<ng-container *ngTemplateOutlet="buttonConfig.isAnchor ? anchor : button"></ng-container>

<!--Text button-->
<ng-template #anchor>
  <a class="default-btn" [ngStyle] = "buttonConfig.externalStyles" [routerLink]="buttonConfig.link">{{buttonConfig.text}}</a>
</ng-template>

<!--Image Button-->
<ng-template #button>
  <button [type]="buttonConfig.nextBtn ? 'submit' : 'button'"  class="default-btn" [ngStyle] = "buttonConfig.externalStyles"
    (click)="onClickBtn()">{{buttonConfig.text}}</button>
</ng-template>
