<section class="step1">
  <hr class="hr-line" horizontal />
  <app-default-input [inputConfig]="inputConfig[0]"></app-default-input>
  <hr class="hr-line" horizontal />
  <app-default-input [inputConfig]="inputConfig[1]"></app-default-input>
  <hr class="hr-line" horizontal />
  <app-default-input [inputConfig]="inputConfig[2]"></app-default-input>
  <hr class="hr-line" horizontal />
  <app-default-input [inputConfig]="inputConfig[3]"></app-default-input>
  <hr class="hr-line" horizontal />
  <app-default-input [inputConfig]="inputConfig[4]"></app-default-input>
  <hr class="hr-line" horizontal />
  <app-default-select></app-default-select>
  <hr class="hr-line" horizontal />
  <div class="btn-wrapper">
    <app-default-button [buttonConfig]="backBtn"></app-default-button>
    <app-default-button [buttonConfig]="nextBtn"></app-default-button>
  </div>
</section>

