@import "../../../variables";

.step1 {
    display: flex;
    justify-content: center;
    padding: $default-padding;
    border-radius: 20px;
    background-color: $light-color;
    margin: 100px auto;
    flex-direction: column;

    &__datepicker{
      height: 50px;
      padding-left: 10px;
    }
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hr-line {
  margin: 15px 0;
}

.error {
  color: $default-error;
  font-size: $font-size-16;
}

.none {
  display: none;
}
