@import "../../../variables";
.light-blue-backdrop {
  background-color: #5cb3fd;
}
::ng-deep ngb-modal-backdrop {
  z-index: 1050 !important;
}
.modal {
  z-index: 1056;
}
.form {
  padding: calc($default-padding / 2);
  z-index: 5,

  &__button {
    margin-top: 20px;
  }

  &__invalid {
    color: $default-error;
    display: block;
  }
}
