<ng-template #content let-modal style="z-index: 1056">
  <div class="modal-header">
    <h4 class="modal-title">Log In</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form class="form">
    <div class="form-group">
      <label for="email">Email</label>
      <input (keyup) = "onChangeEmail($event)" value="{{emailInput}}" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">* This field is required.</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input (keyup) = "onChangePassword($event)" value="{{passwordInput}}" type="password" class="form-control" id="password" placeholder="Password" aria-describedby="passwordHelp">
      <small id="passwordHelp" class="form-text text-muted">* This field is required.</small>
    </div>
    <small class="form__invalid" *ngIf="invalidCredentials">* Invalid email or password. Try again!</small>
    <button type="button" class="btn btn-primary form__button" (click) = "logIn()">Log In</button>
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<button  class="btn btn-primary mb-2 me-2" type="button" (click) = "openModal(content)">Log In</button>
