<section class="movies">
  <div class="movies__filter">
    <div class="movies__flex">
        <span class="movies__sort-title">Sort by:</span>
        <app-sort-button [btn] = "btn1" (btnEmitter) = "onClick($event)"></app-sort-button>
        <app-sort-button [btn] = "btn2" (btnEmitter) = "onClick($event)"></app-sort-button>
        <app-sort-button [btn] = "btn3" (btnEmitter) = "onClick($event)"></app-sort-button>
        <app-sort-button [btn] = "btn4" (btnEmitter) = "onClick($event)"></app-sort-button>
      </div>
    </div>
  <app-accordion (changeFilterValues)="onFilterChange($event)" [accordionConfig]="filterAccordion"></app-accordion>
  <div class="movies__grid">
    <div *ngFor="let film of films" class="movies__column4">
      <app-movie-card [titleEn]="film.titleEn" [titleBg]="film.titleBg" [image]="film.image" [year]="film.year"></app-movie-card>
    </div>
    </div>
</section>
