<section class="movies">
  <div class="movies__filter">
    <div class="movies__flex">
        <span class="movies__sort-title">Sort by:</span>
        <app-sort-button [btn] = "btn1" (btnEmitter) = "onClick($event)"></app-sort-button>
        <app-sort-button [btn] = "btn2" (btnEmitter) = "onClick($event)"></app-sort-button>
        <app-sort-button [btn] = "btn3" (btnEmitter) = "onClick($event)"></app-sort-button>
        <app-sort-button [btn] = "btn4" (btnEmitter) = "onClick($event)"></app-sort-button>
      </div>
    </div>
  <app-accordion (changeFilterValues)="onFilterChange($event)" [accordionConfig]="filterAccordion"></app-accordion>
  <div class="row mb-5">
    <div *ngFor="let film of films" class="col-xl-3 col-lg-4 col-xs-12 col-md-6 mt-5 justify-content-center">
        <app-movie-card [movie]="film"></app-movie-card>
    </div>
    </div>
</section>
