<section class="home">
  <div class="home__wrapper">
    <h1 class="home__title">MOVIES</h1>
    <p class="home__text">
      Movies move us like nothing can else, whether they're scary, funny,
      dramatic, romantic or anywhere in-between.So many titles, so much to
      experience.
    </p>
  </div>
  <app-carousel [images] = "popularMovies"></app-carousel>
  <div class="home__register">
    <p>WELCOME TO OUR COMMUNITY.</p>
    <p>Here you can evaluate movies, create your collection from favorite movies, communicate with your friends about a
      movie and received notifications
      about movies that were commented from your friends. </p>
    <p>Register NOW and get access to all above.
    </p>
    <div class="btn-wrapper">
      <app-default-button [buttonConfig]="linkConfig"></app-default-button>
    </div>
  </div>
</section>
