<section class="home">
  <div class="row">
    <div class="home__wrapper col-sm-12 col-md-8 col-lg-4">
      <h1 class="home__title">MOVIES</h1>
      <p class="home__text">
        Movies move us like nothing can else, whether they're scary, funny,
        dramatic, romantic or anywhere in-between.So many titles, so much to
        experience.
      </p>
    </div>
  </div>
  <app-carousel></app-carousel>
  <div class="home__register">
    <div class="btn-wrapper mt-5">
      <app-default-button [buttonConfig]="linkConfig"></app-default-button>
    </div>
  </div>
</section>
