 <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" [routerLink] = "links[0]" style="color: white">
        <img class="logo-image mr-5" src='../../../assets/logo.svg' alt="logo image" />
        <span class="mobile-center">Movie System</span>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="links[0]" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="links[1]" class="nav-link">Movies</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="links[2]" class="nav-link">Movies Collection</a>
        </li>
        <li class="nav-item">
          <a [routerLinkActive]="['active']" [routerLink]="links[3]" class="nav-link">Reviewed Movies</a>
        </li>
        <li class="nav-item login">
          <app-sign-in></app-sign-in>
        </li>
        <li class="nav-item ml-lg-5">
          <form class="form-inline waves-light" mdbWavesEffect>
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
            </div>
          </form>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <!-- Notifications -->
      <div *ngIf="userData" class="dropdown">
        <a
          class="text-reset me-3 dropdown-toggle hidden-arrow"
          href="#"
          id="navbarDropdownMenuLink"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">1</span>
        </a>
        <ul
          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <li>
            <a class="dropdown-item" href="#">Profile</a>
          </li>
        </ul>
      </div>
      <!-- Avatar -->
      <div class="dropdown">
        <a
          *ngIf="userData"
          class="dropdown-toggle d-flex align-items-center hidden-arrow color-white"
          href="#"
          id="navbarDropdownMenuAvatar"
          role="button"
          data-mdb-toggle="dropdown"
          aria-expanded="false"
        >
        Hello, <span>{{userData.username}}</span><img [src]="imageData ? imageData : '../../../assets/icons/profile-icon-png-898.png'" alt="profile Image" class="img-fluid rounded-circle z-depth-0 profile__image"></a>
        <ul

          class="dropdown-menu dropdown-menu-end"
          aria-labelledby="navbarDropdownMenuAvatar"
        >
          <li>
            <a class="dropdown-item" [routerLink] = "links[4]">Profile</a>
          </li>
          <li>
            <a class="dropdown-item" (click) = "logOut()">Notifications</a>
          </li>
          <li>
            <a class="dropdown-item" href="/friends">Friends</a>
          </li>
          <li>
            <a class="dropdown-item" (click) = "logOut()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
