@import "../../../variables";

.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $default-button-color;
  height: 70px;
  font-size: $font-size-20;
  color: $default-font-color;
  .nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    list-style: none;


    &__link {
      text-decoration: none;
      color: $color-black;
      cursor: pointer;
    }

    &__item {
      position: relative;
      top: 7.5px;
    }

  }

  &__search {
    width: 250px;
    border-radius: $border-radius-5;
    border: $border-input;
    height: 40px;
    padding-left: 10px;
    color: $default-button-color;
    margin: 20.5px 0 0 20px;
  }

  &__search-wrapper {
    width: 50%;
    margin-left: $default-padding;
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 60px;
    width: 60px;
  }

  &__icon {
    position: relative;
    top: 5px;
  }
}

.profile{
  position: absolute;
  width: 200px;
  height: auto;
  background-color: lightgray;
  list-style-type: none;
  top: 70px;
  right: 0;
  z-index: 5;
  border-radius: 5px;
  padding: 10px;
  &__item {
    width: 100%;
    border-bottom: 1px solid gray;
    text-decoration: none;
    cursor: pointer;
    &:hover{
      background-color: white;
   }
  }
  &__link{
    color: white;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: $default-button-color;
    }
  }
  &__image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
  }
}

.no-background {
  background-color: $default-button-color;
  border: none;
  cursor: pointer;
}

.none {
  display: none;
}
