<section *ngIf="movieData" class="movie">
  <div class="movie__mask"></div>
  <img *ngIf="movieData.image" class="movie__background" [src]="movieData.image" alt="movie image" />
  <div class="row text-center">
    <h1 *ngIf="movieData.titleEn" class="movie__title">{{movieData.titleEn}}</h1>
  </div>
  <div class="trailer row justify-content-center">
    <div *ngIf="videoId" class="movie__trailer">
      <youtube-player
       [videoId]="videoId"
       suggestedQuality="highres"
       [width] = "1000"
       [height] = "500"
       >
      </youtube-player>
    </div>
  </div>
  <div class="row justify-content-between movie__wrapper py-5">
    <div *ngIf="movieData.description" class="movie__description col-4">
      <h2 class="movie__subtitle">Description</h2>
      <p>{{movieData.description}}</p>
    </div>
    <div class="movie__info col-4">
      <ul class="list">
        <li class="list__item" *ngIf="movieData.genre">Genre: <span>{{movieData.genre}}</span></li>
        <li class="list__item" *ngIf="movieData.country">Country: <span>{{movieData.country}}</span></li>
        <li class="list__item" *ngIf="movieData.year">Year: <span>{{movieData.year}}</span></li>
        <li class="list__item" *ngIf="movieData.producer">Producer: <span>{{movieData.producer}}</span></li>
        <li class="list__item" *ngIf="movieData.averageRating">Rating: <span>{{movieData.averageRating}}</span></li>
        <li class="list__item" *ngIf="movieData.watches">Watches: <span>{{movieData.watches}}</span></li>
      </ul>
    </div>
    <!-- <p *ngIf="movieData.averageRating" class="movie__rating mt-5">Rating: <span>{{movieData.averageRating}} </span></p> -->
    <mat-accordion class="movie__accordion my-5">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
           <h2 class="movie__accordion-title">User Reviews</h2>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p  *ngIf="movieData.titleEn" class="movie__accordion-subtitle">Reviews about <span>{{movieData.titleEn}}</span></p>
        <mat-card *ngFor="let comment of comments" class="card my-4">
          <mat-card-title class="card__title">
            <span class="card__username">Username: <span>{{comment.username}}</span></span>
            <img *ngIf="!comment.image" class="card__image ml-2" src="../../../assets/icons/profile-icon-png-898.png" alt="profile image" />
            <img *ngIf="comment.image" class="card__image ml-2" [src]="comment.image " alt="profile image" />
            <button *ngIf="comment.userId === parserUser._id || parserUser.role === 'admin'" class="card__remove" type="button" (click)="removeComment(comment)"><mat-icon>close</mat-icon></button>
          </mat-card-title>
          <mat-card-content *ngIf = "comment.description" class="card__description">{{comment.description}}</mat-card-content>
          <mat-card-footer *ngIf = "comment.date" class="card__date">Date: <span>{{comment.date}}</span></mat-card-footer>
        </mat-card>
        <div class="row justify-content-center">
          <button *ngIf="!showTextArea && isRegisteredUser" (click) = "toggleInput()" mat-button class="comment-button col-6 col-sm-6 col-md-2" color="secondary" aria-label="Example icon button with a plus one icon">
            + review this movie
          </button>
          <button *ngIf="showTextArea" (click) = "toggleInput()" mat-button class="comment-button col-6 col-sm-6 col-md-2" color="secondary" aria-label="Example icon button with a plus one icon">
            Hide textarea
          </button>
        </div>
          <div *ngIf="showTextArea" class="row justify-content-center">
            <textarea class="comment-input col-10 my-4" type="text" placeholder = "Write review ...." (keyup)="writeComment($event)"></textarea>
          </div>
          <div class="row justify-content-end">
            <button *ngIf="showTextArea" (click) = "addReview()" mat-button class="comment-button col-4 col-sm-4 col-md-1 mr-3" color="secondary" aria-label="Example icon button with a plus one icon">
               Send
            </button>
          </div>
      </mat-expansion-panel>
     </mat-accordion>
  </div>
</section>
