<section class="registration">
 <div [ngSwitch] = "currentStep">
  <div *ngSwitchCase="1">
    <app-step1 [previousUserData] = "user" (changedUserData) = "updateUserData1($event)" (changedStep) = "updateStepCounter($event)"  [step] = "currentStep"></app-step1>
  </div>
   <div *ngSwitchCase="2">
     <app-step2 [previousUserData] = "user"  (changedUserData) = "updateUserData2($event)" (changedStep) = "updateStepCounter($event)" [step]="currentStep"></app-step2>
   </div>
   <div *ngSwitchDefault>
  </div>
 </div>
</section>
