@import '../../variables';
.not-found {
   font-size: $font-size-30;
   color: $default-button-color;
   margin: 100px 0;
   &__title {
     font-size: 120px;
     line-height: 120px;
     font-weight: $font-weight-700;
   }
   &__text {
     font-size: 40px;
     line-height: 40px;
     font-weight: $font-weight-500;
   }
   &__button{
       width: 200px;
       padding: 20px;
       border-radius: $border-radius-10;
       background-color: $default-button-color;
       font-size: $font-size-20;
       border: none;
       color: white;
       text-decoration: none;
       &:hover {
         text-decoration: none;
       }
   }
}
