$font-times: "Times New Roman";

$font-size-30: 30px;
$font-size-25: 25px;
$font-size-20: 20px;
$font-size-16: 16px;

$light-color: #d3d3d3;
$default-padding: 50px;
$background-wrapper: #404040;
$default-font-color: #ffffff;
$default-link-color: #A9A9A9;
$default-button-color: #FF6347;
$border-radius-10: 10px;
$border-radius-5: 5px;
$border: 2px solid #ffffff;
$border-gray: 2px solid #eeeeee;
$border-input: 2px solid black;
$color-black: #000000;

$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

$line-height-16: 16px;
$line-height-20: 20px;
$line-height-25: 25px;
$line-height-30: 30px;
$line-height-40: 40px;
$line-height-50: 50px;
$line-height-60: 60px;

$mobile-breakpoint: 480px;
$small-screen: 769px;
$medium-screen: 1025px;
$large-screen: 1200px;
$desktop-small-breakpoint: 1360px;
$desktop-middle-breakpoint: 1460px;
$extra-large-screen: 1600px;


