* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #C2B9B0;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/*Importing Angular Material SCSS file*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


