<section class="profile row justify-content-center mb-5">
  <div class="row py-5">
    <div class="col-12 col-md-4">
      <img *ngIf="user.image" [src] = "user.image"
        class="profile__image" alt="profile image" />
      <img *ngIf="!user.image || !'image' in user" src="../../../assets/icons/profile-icon-png-898.png"
        class="profile__image" alt="profile image" />
    </div>
    <div class="col-12 col-md-8 pt-3">
      <p *ngIf="user.username">Username: <span>{{user.username}}</span></p>
      <p *ngIf="user.email">Email: <span>{{user.email}}</span></p>
      <p *ngIf="user.birthdate">Birthday: <span>{{user.birthdate}}</span></p>
      <p *ngIf="user.role">Role: <span>{{user.role}}</span></p>
    </div>
  </div>
  <div class="profile__account px-5">
    <h2>Account</h2>
    <mat-divider></mat-divider>
    <div class="row my-4">
      <div class="col-12 col-md-4">
        <label class="profile__label" for="username">Username</label>
      </div>
      <div class="col-12 col-md-8">
        <input class="profile__field" (keyup) = "onChangeUsername($event)" type="text" defaultValue = {{user.username}} placeholder="Username" id="username" />
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12 col-md-4">
        <label class="profile__label" for="firstname">Firstname</label>
      </div>
      <div class="col-12 col-md-8">
        <input class="profile__field" (keyup) = "onChangeFirstname($event)" type="text"  defaultValue = {{user.firstname}} placeholder="Firstname" id="firstname" />
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12 col-md-4">
        <label class="profile__label" for="lastname">Lastname</label>
      </div>
      <div class="col-12 col-md-8">
        <input class="profile__field" (keyup) = "onChangeLastname($event)" type="text" defaultValue = {{user.lastname}}  placeholder="Lastname" id="lasttname" />
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12 col-md-4">
        <label class="profile__label" for="email">Email</label>
      </div>
      <div class="col-12 col-md-8">
        <input class="profile__field" type="text" (keyup) = "onChangeEmail($event)" defaultValue = {{user.email}} placeholder="Email" id="email" />
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12 col-md-4">
        <label class="profile__label" for="birthday">Birthday</label>
      </div>
      <div class="col-12 col-md-8">
        <input class="profile__field" (keyup) = "onChangeBirthday($event)" type="date" defaultValue = {{user.birthdate}} placeholder = "19/02/2000" id="birhtday" />
      </div>
    </div>
    <div class="row my-4">
      <div class="col-12 col-md-4">
        <label class="profile__label" for="password">Password</label>
      </div>
      <div class="col-12 col-md-8">
        <input class="profile__field" (keyup) = "onChangePassword($event)" defaultValue = {{user.password}} type="password" placeholder = "Password" id="password" />
      </div>
    </div>
    <div *ngIf="changedValue.indexOf(false) > -1" class="row justify-content-end mr-1">
      <button type="submit" class="profile__save col-2 col-md-1 p-1" (click) = "saveAccount()">
        ЗАПАЗИ
      </button>
    </div>
  </div>
</section>
