@import '../../variables';
.profile {
  padding: 0;
  color: $default-button-color;
  font-size: $font-size-20;
  &__image {
    display: flex;
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
  }
  &__label {
    color: #000000;
  }
  &__field {
    height: 40px;
    padding: 5px 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $default-button-color;
    color: $default-button-color;
    &:focus {
      border: 1px solid $default-button-color;
    }
  }
  &__save {
    background-color: $default-button-color;
    color: #ffffff;
    border: none;
    border-radius: 5px;
  }
}

.genre {
  width: 220px;
  margin-right: 10px;
  position: relative;
  text-align: center;
  color: #ffffff;
  background-color: $default-button-color;
  border: none;
  font-size: $font-size-25;
}

.genre__add {
  display: flex;
  align-self: center;
  background-color: $default-button-color;
  border: none;
  color: #ffffff;
  border-radius: 25px;
  padding: 7.5px;
}


.upload {
  cursor: pointer;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: $default-link-color;
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  border: 2px solid $default-button-color;
  position: relative;

  &__input {
     width: 100%;
     height: 100%;
     display: none;
  }

  &__text {
    align-self: center;
  }

  &__icon {
    display: block;
    height: 110px;
    width: 85px;
    align-self: center;
  }

  &__image {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: center;
    align-self: center;
    object-fit: cover;
    line-height: 150px;
  }

  &__mask {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    border-radius: 100px;
  }

  &__close {
    font-size: 40px;
    margin-left: 75px
    // width: 40px;
    // height: 40px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%,-50%);
    // color: $default-button-color;
  }
}

.none {
  display: none;
}
